streamlit
openai
langchain
langchain-openai
langchain-text-splitters
python-dotenv
python-docx
docxcompose
pandas
numpy
pillow
PyPDF2
requests
pytesseract
PyMuPDF
tiktoken
pdf2image
opencv-python-headless
pdfplumber
selenium
webdriver-manager
