streamlit
openai
langchain
langchain-openai
langchain-text-splitters
python-dotenv
python-docx
fpdf
docxcompose
pandas
numpy
pillow
PyPDF2
requests
pytesseract
PyMuPDF
tiktoken
pdf2image
opencv-python-headless
pdfplumber
selenium
webdriver-manager
beautifulsoup4
fake-useragent
undetected-chromedriver
fuzzywuzzy
setuptools
extract-msg
openpyxl
